.footer-bg {
  background-color: #f9f9f8;
  border: none;
}

.btnn-light {
  background-color: #cae8ff;
  color: #050a30;
  border: none;
  --bs-btn-active-color: #cae8ff;
  --bs-btn-active-bg: #050a30;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
}

.btnn-light:hover {
  background-color: #050a30;
  color: #cae8ff;
  border: none;
}
