.headings-bold {
  font-weight: 600;
  margin: 1rem;
}

.inputs {
  text-align: center;
}

.alert {
  margin: 0;
}

.form-control {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.btnn {
  margin: 1%;
  border: none;
  background-color: #050a30;
  color: white;
  --bs-btn-active-color: #050a30;
  --bs-btn-active-bg: #cae8ff;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
}

.btnn:hover {
  background-color: #cae8ff;
  color: #050a30;
}

.block {
  margin: 3%;
}

.nav {
  background-color: #e6e3df;
}

.nav .pad-0 {
  padding: 0;
}

.form-control {
  background-color: #f9f9f8;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #050a30;
  text-decoration: none;
}

a:hover {
  color: #050a30;
  text-decoration: underline;
}
