.headings-bold {
  font-weight: 600;
}

.inputs {
  margin: 1%;
  text-align: center;
}

.alert {
  margin: 0;
}

.form-control {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
