.headings-bold {
  font-weight: 600;
  margin: 2%;
}

.inputs {
  margin: 1%;
  text-align: center;
}

.alert {
  margin: 0;
}

.form-control {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.btnn {
  margin: 1%;
  border: none;
  background-color: #050a30;
  text-decoration-color: white;
}

.btnn:hover {
  background-color: #cae8ff;
}

.btnn::after {
  background-color: #cae8ff;
}

.block {
  margin: 3%;
}

.nav {
  background-color: #e6e3df;
}

.nav .pad-0 {
  padding: 0;
}
